<div class="signoff">
  <p>
    Til next time,<br/>
    <div class="avatar-wrapper"><img src="/images/morning_coffee.png" alt="" class="avatar" /></div>
    Roi
    <span class="muted">{{ page.date | date: "at %H:%M" }}</span>
    <br />
    <span class="small upcase bold"><a href="/about" id="me">Find out about
        me</a>. Also <a href="http://www.twitter.com/share?url={{ site.url }}{{ page.url }}&via=roidriscoll&text={{ page.title }}"
        target="_blank">Tweet</a> this or follow me on <a
    href="https://twitter.com/roidriscoll/" target="_blank">Twitter</a>.</span>
  </p>
</div>
